# Logs
#-----------------------------------
*.log
npm-debug.log*

# Editor directories and files
#-----------------------------------
.idea/
.vscode/
.log/

# TypeScript
#-----------------------------------
*.tsbuildinfo

# Workspace settings
#-----------------------------------
*.code-workspace