/*@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* CSS HEX */
*{
    --pakistan-green: #143601ff;
    --pakistan-green-2: #1a4301ff;
    --dark-moss-green: #245501ff;
    --avocado: #538d22ff;
    --asparagus: #73a942ff;
    --pistachio: #aad576ff
  }

.content {
display:none
}
#gallery.loaded img {
width:100%;
height:auto
}
.content.active {
display:block
}
@font-face {
font-family:kong;
src:url(kongtext.ttf) format('truetype')
}
body {
font-family:Kong,sans-serif;
color:#fff;
background:url(blissMin.webp);
background-size: cover;
overflow:hidden;
font-size:100%;
height:100%
}
nav {
display:flex;
justify-content:left;
}
nav ul {
list-style-type:none;
padding:0
}
nav ul li {
display:inline;
}
.navbar {
padding:0.75rem;
}
.container {
max-width:100%;
padding:2rem;
height: 100vh;
}
#galleryContainer {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.imgGrooby{
max-height: auto;
max-width: 200px;
}

