/*@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/
/* CSS HEX */
*{
    --pakistan-green: #143601ff;
    --pakistan-green-2: #1a4301ff;
    --dark-moss-green: #245501ff;
    --avocado: #538d22ff;
    --asparagus: #73a942ff;
    --pistachio: #aad576ff
  }

.content {
display:none
}
#gallery.loaded img {
width:100%;
height:auto
}
.content.active {
display:block
}
@font-face {
font-family:kong;
src:url(kongtext.ttf) format('truetype')
}
h1 {
text-shadow:2px 2px 4px #000;
font-size:50px
}
h2 {
text-shadow:2px 2px 4px #000;
font-weight:bolder;
text-align-last:center
}
p {
font-size:12px
}
a {
font-size:1ch;
}
body {
margin:0;
padding:0;
font-family:Kong,sans-serif;
color:#fff;
background:url(blissMin.webp);
background-size: cover;
    overflow:hidden;
animation:gradient 15s ease infinite;
font-size:100%;
height:100%
}
header {
background-color:var(--avocado);
font-family:kong;
color:#fff;
    padding: 10px;
}
nav {
display:flex;
justify-content:left;
}
nav ul {
list-style-type:none;
padding:0
}
nav ul li {
display:inline;
}
nav ul li a {
color:#FFF;
text-decoration:none;
font-weight:700
}
.navbar {
background-color:var(--pistachio);
padding:0.75rem;
border-radius:60rem
}
.container {
max-width:1200px;
padding:2rem;
/*border-radius:60rem;
box-shadow:0 0 10px rgba(0,0,0,.1);
background:var(--pakistan-green)*/
}
#galleryContainer {
    display: flex;
    flex-direction: row; /* Arrange columns in a row */
}
.column {
    display: flex;
    flex-direction: column; /* Stack images vertically */
    flex: 1; /* Make columns equal width */
}
footer {
font-family:kong;
color:#fff;
font-size:xx-small;
text-align:left;
padding:9px;
position:fixed;
bottom:0;
width:auto;
background-color:var(--pistachio);
text-shadow:2px 2px 4px #000;
border-radius:60rem
}
.imgGrooby{
max-height: auto;
max-width: 100px;
}

